<!--<div class="container" id="auto">-->
<section>
    <div class="container">
        <div class="heading">
            <h2>Permis Voiture</h2>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p class="lead">Fort de leurs 26 ans d’expérience les formateurs de l’auto moto école du plateau Toulouse Blagnac sauront trouver les mots afin de vous faire progresser.</p>
                <p class="lead">ils vous accompagneront au mieux au cours de votre formation pour évoluer rapidement.</p>
            </div>
            <div class="col-md-4" data-animate-hover="pulse" data-animate="fadeInRight">
                <img src="{{ .Site.BaseURL}}/img/auto-01.jpg" alt="" class="img-responsive img-rounded">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <h3>Nos Forfaits </h3>
                </div>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget vestibulum arcu. </p>
            </div>
        </div>

        <div class="row packages">

            <div class="col-md-3">
                <div class="package " data-animate-hover="pulse">
                    <div class="package-header light-gray">
                        <h5>Forfait  code illimité</h5>
                    </div>
                    <div class="price">
                        <div class="price-container">
                            <h4>200 <span class="currency">€</span></h4>
                            <span class="period"> / an</span>
                        </div>
                    </div>
                    <ul>
                        <li><i class="fa fa-check"></i>Cours de code avec moniteur</li>
                        <li><i class="fa fa-check"></i>Code permanent</li>
                        <li><i class="fa fa-times"></i>Frais de présentation à l’examen</li>
                    </ul>
                    <a href="#" class="btn btn-template-main">Sign Up </a>
                </div>
            </div>
            <!-- / END FIRST PACKAGE -->

            <div class="col-md-3">
                <div class="best-value">
                    <div class="package" data-animate-hover="pulse">
                        <div class="package-header">
                            <h5>Premium</h5>
                            <div class="meta-text">Forfait 20 heures</div>
                        </div>
                        <div class="price">
                            <h4>860 <span class="currency">€</span></h4>
                            <span class="period">/ illimité</span>
                        </div>
                        <ul>
                            <li><i class="fa fa-check"></i>20 h de conduite</li>
                            <li><i class="fa fa-check"></i>Frais de dossier</li>
                            <li><i class="fa fa-check"></i>1 heure d’évaluation</li>
                            <li><i class="fa fa-check"></i>Kit pédagogique B ou AAC</li>
                            <li><i class="fa fa-check"></i>Livret d’aprentissage offert</li>
                            <li><i class="fa fa-check"></i>Livre de code de la route offert</li>
                            <li><i class="fa fa-times"></i>Frais de présentation à l’examen</li>
                        </ul>
                        <a href="#" class="btn btn-template-main">Sign Up </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="package" data-animate-hover="pulse">
                    <div class="package-header light-gray">
                        <h5>Stage de code</h5>
                    </div>
                    <div class="price">
                        <h4>50 <span class="currency">€</span></h4>
                        <span class="period">/ 3 jours</span>
                    </div>
                    <ul>
                        <li><i class="fa fa-check"></i>Stage de code 3 jours pendant les vacances scolaires</li>
                        <li><i class="fa fa-check"></i>Possibilité de règlement en 3 fois sans frais</li>
                        <li><i class="fa fa-check"></i>Examen toutes les semaines</li>
                        <li><i class="fa fa-check"></i>Prise et retour à domicile</li>
                    </ul>
                    <a href="#" class="btn btn-template-main">Sign Up </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row portfolio">

            <div class="col-md-12">
                <div class="heading">
                    <h3>Nos équipements</h3>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="box-image">
                    <div class="image">
                        <img src="{{ .Site.BaseURL}}/img/banners/banner-13.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- /.box-image -->

            </div>

            <div class="col-sm-6 col-md-3">
                <div class="box-image">
                    <div class="image">
                        <img src="{{ .Site.BaseURL}}/img/banners/banner-12.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- /.box-image -->

            </div>

            <div class="col-sm-6 col-md-3">
                <div class="box-image">
                    <div class="image">
                        <img src="{{ .Site.BaseURL}}/img/banners/banner-11.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- /.box-image -->

            </div>

            <div class="col-sm-6 col-md-3">
                <div class="box-image">
                    <div class="image">
                        <img src="{{ .Site.BaseURL}}/img/banners/banner-17.jpg" alt="" class="img-responsive">
                    </div>
                </div>
                <!-- /.box-image -->
            </div>

        </div>
    </div>
    <!-- /.container -->
</section>
