{{ if isset .Site.Params "see_more_perfectionnement" }}
{{ if .Site.Params.see_more_perfectionnement.enablefixe }}
<section class="bar background-gray no-mb padding-big text-center-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-uppercase">Stage de Perfectionnement</h2>
                <p class="lead mb-small">Votre sécurité à moto vous préoccupe ?</p>
                <p class="mb-small">Que vous veniez d’obtenir votre permis moto, ou que vous souhaitiez tout simplement améliorer votre technique de pilotage moto, ce stage de perfectionnement vous intéressera.</p>

                <p><a href="{{ .Site.Params.see_more_perfectionnement.link_url }}" class="btn btn-template-main">En savoir plus</a>
                </p>
            </div>
            <div class="col-md-4 text-center" data-animate="fadeIn" data-animate-hover="pulse">
                <img src="img/vignette/vignette-02.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
