{{ if isset .Site.Params "see_more_permismoto" }}
{{ if .Site.Params.see_more_permismoto.enablefixe }}
<section class="bar no-mb color-white padding-big text-center-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center" data-animate-hover="pulse" data-animate="fadeIn">
                <img src="img/vignette/vignette-01.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-6">
                <h2 class="text-uppercase">Permis Moto</h2>
                <p class="lead mb-small"> Vous souhaitez préparer au mieux votre permis moto ?</p>
                <p class="mb-small">Jean-Marc, notre formateur Moto vous guidera sur la route de votre réussite. Grâce à son expérience, il saura vous faire évoluer, en fonction de votre niveau de progression, avec des conseils adaptés à chacun pour obtenir au plus vite votre permis moto</p>

                <p><a href="{{ .Site.BaseURL}}{{ .Site.Params.see_more_permismoto.link_url }}" class="btn btn-template-transparent-primary">En savoir plus</a>
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
