{{ if isset .Site.Params "see_more_permisauto" }}
{{ if .Site.Params.see_more_permisauto.enable }}
<section class="bar background-gray no-mb padding-big text-center-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-uppercase">Permis Voiture</h2>
                <p class="lead mb-small">Optez pour le Forfait 20 heures de conduite</p>
                <p class="mb-small">Fort de leurs <strong>26 ans d’expérience</strong> les formateurs de l’auto moto école du plateau Toulouse Blagnac sauront trouver les mots afin de vous faire progresser.</p>
                <p class="mb-small">Ils vous accompagneront au mieux au cours de votre formation pour évoluer rapidement.</p>

                <p><a href="#" class="btn btn-template-main">En savoir plus</a>
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="img/banners/auto-ecole2.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</section>

<section class="bar background-image-fixed-auto no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="icon icon-lg"><i class="{{ .Site.Params.see_more_permisauto.icon }}"></i>
                </div>
                <h3 class="text-uppercase">{{ .Site.Params.see_more_permisauto.title }}</h3>
                <p class="lead">{{ .Site.Params.see_more_permisauto.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.see_more_permisauto.link_url }}" class="btn btn-template-transparent-black btn-lg">{{ .Site.Params.see_more_permisauto.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
