<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          <!--{{ partial "top.html" . }}-->

          {{ partial "nav.html" . }}

        </header>

        {{ partial "carousel.html" . }}

        {{ partial "seepermisautofixe.html" . }}

        {{ partial "seepermismotofixe.html" . }}

        {{ partial "seeperfectionnementfixe.html" . }}

        {{ partial "team.html" . }}

        {{ partial "seepermisauto.html" . }}

        {{ partial "counters.html" . }}


        {{ partial "features.html" . }}
        {{ partial "seepermismoto.html" . }}


        {{ partial "testimonials.html" . }}
        {{ partial "seeperfectionnement.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
